:focus {
    outline: medium none;
}


body{
    margin: 0 auto;
    font-family: Georgia, Palatino, serif;
    color: #444444;
    line-height: 1;
    margin : 0 auto;
    margin-left:20px;
    margin-right:20px;
}
h1, h2, h3, h4 {
    color: #111111;
    font-weight: 400;
}
h1, h2, h3, h4, h5, p {
    margin-bottom: 24px;
    padding: 0;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 28px;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 10px 0px ;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 18px;
}
ul, ol {
    /*padding: 0;*/
    margin: 0;
}
li {
    line-height: 24px;
}
li ul, li ul {
    margin-left: 24px;
}
p, ul, ol {
    font-size: 16px;
    line-height: 24px;
    /*max-width: 700px;*/
}
pre {
	padding : 15px 10px !important;  
    /*max-width: 700px;*/
    white-space: pre-wrap;
    line-height:22px;
	border-left:6px solid #558abb;
	background : url(/images/blueprint-dark.png) top center #fafbfc
}

blockquote {
    border-left:.5em solid #eee;
    padding: 0 2em;
    margin-left:0;
    /*max-width: 700px;;*/
}
blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}
blockquote cite:before {
    content: '\2014 \00A0';
}

blockquote p {  
    color: #666;
    /*max-width: 460px;*/
	/*	   max-width:700px;*/
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button, input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}
/* override default chrome & firefox settings */
input:not([type="image"]), textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
label,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 18px;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
  margin-bottom: 0;
}
input[type=text],
input[type=password],
textarea,
select {
  display: inline-block;
  width: 210px;
  padding: 4px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select, input[type=file] {
  height: 27px;
  line-height: 27px;
}
textarea {
  height: auto;
}

/* grey out placeholders */
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}

input[type=text],
input[type=password],
select,
textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}




.ops {
    margin-top:10px;
    padding:10px;
    border:1px solid #ccc;
}

.ops .left {
    float:left;
    width:23%;
}

.ops select {
    width:100%;
}

.ops select option.post-status-published{
    color:green;
}

.ops select option.post-status-not-published{
    color:blue;
}

.ops select option.post-status-removed{
    color:#ccc;
}




.ops .msg {
    float:left;
    width:35%;
    text-align:center;
}

.ops .msg .waring {
    background-color:yellow;
}

.ops .msg .error{
    background-color:red;
}
.ops .right {
    float:right;
    width:38%;
    text-align:right;
}


.ops a {
    display:inline-block;
    margin-right:10px;
}

hr {
    text-align: left;
    color: #eee;
    margin : 10px auto;
}

.editor{
    border-bottom:1px solid #eee;
    margin : 10px auto;
    padding : 13px 0px 20px;
}

.content-editor {
    min-height:300px;
}


